@import "react-big-calendar/lib/css/react-big-calendar.css";

.navbar-website-title {
    text-align: center;
    background-color: #6495ED;
    color: white;

}

.rbc-event {
    height: 25px;
    padding: 0
}

.rbc-event-content{
    font-size: 12px
}